@media (max-width: 767px)
{
    div#box
    {
        width: 95% !important;
        height: 100% !important;
        margin: 0px auto !important;
        padding: 10px !important;
        background: #fff !important;
    }
    
    input.form-text
    {
        width : 90% !important;
    }
}