{% extends "base.html" %}

{% block title %}Temperatures of the Day{% endblock %}

{% block extrajs %}
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>

        var data = {};
        data.dateType = 'datetime';
        data.dateName = 'Date';
        data.valType = 'number';
        data.valName = 'Temp';
        data.height = CHART_HEIGHT[getDeviceMode()];

        data.series = [];
        data.series.push( 
          [
                {% for plot in plots %}
                    [{{ plot.x }}, {{ plot.y }}],
                {% endfor %}
          ]
        );

        drawMobileChart(document.getElementById('chart_div'),data);

    </script>

{% endblock %}

{% block content %}

    <div class="row" id="last_measure">
        <div class="col-md-4"></div>
        <div id='chart_div' class="col-md-4" style='width: 100%;'>loading graph...</div>
        <div class="col-md-4"></div>
    </div>

    <div class="row" id="last_measure">

        <div class="col-md-4"></div>
        <div class="col-md-4 alert alert-info">
            Last Measure at <b>{{ last.date }}</b>, temperature <b>{{ last.temperature }}</b>&deg; C
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>sensor</th>
                            <th>date</th>
                            <th>temperature</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for measure in data %}
                            <tr>
                                <td>{{ measure.sensor }}</td>
                                <td>{{ measure.date }}</td>
                                <td>{{ measure.temperature }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
{% endblock %}